:root {
	--fieldlo: indigo;
	--fieldhi: slateblue;
	--fieldcontrast: dimgray;
}

body {
	font-family: "Monda", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: white;
	background-color: var(--fieldlo);
}

a {
	color: white;
}

.nav {
	background-color: var(--fieldcontrast);
	list-style-type: none;
}

.nav li {
	display: inline-block;
	padding: 5px;
}
