{% extends "base.html" %}
{% block title %}Directory{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

<h1>Mission Editor</h1>

<ul class="flash">
	{% for category, message in get_flashed_messages(with_categories=True) %}
		<li class="{{ category }}">{{ message }}</li>
	{% endfor %}
</ul>

<form action="/admin/mission/_new" method="post">

<div>
<label>Name</label>
<input type="text" name="name" value="{{ request.name }}">
</div>

<div>
<label>Start</label>
<input type="text" name="start" value="{{ request.start }}">
</div>

<div>
<input type="submit" value="Save">
</div>

</form>

{% endblock %}