{% extends "base.html" %}

{% block body %}
  {% raw %}
		<script type="importmap">
		{
		  "imports": {
		    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
		  }
		}
		</script>

	  <script type="module">
	  	import mounts from "/static/main.js";
	  	mounts.mountApp();
	  </script>

		<div id="main">
				<!-- one id'd block per display mode -->

				<!-- "nodata" display mode -->
				<div id="nodataDisplay" v-if="display == 'nodata'">
					<p class="top overlaybox">receiving...</p>
				</div>

				<!-- "launching" display mode -->
				<div id="launchingDisplay" v-if="display == 'launching'">
					<!-- no content - wait for the "launch" display -->
					<p class="bottom overlaybox">launching soon...</p>
				</div>

				<!-- "launch" display mode -->
				<div id="launchDisplay" v-if="display == 'launch'">
					<div id="logo"></div>
	        <div id="chartSm"></div>
	        <div id="chartLg"></div>
				</div>

				<!-- "flight" display mode -->
				<div id="flightDisplay" v-if="display == 'flight'">
	        <div id="logo"></div>
	        <div id="missionInfoTriangle"></div>
	        <div id="missionInfo">
	            <h1 id="vesselName">{{ missionName }}</h1>
	            <chrono :met="missionElapsedTime" :igt="currentTime"></chrono>
	            <div id="stageArrow">
	                <div class="arrow"></div>
	                <div class="rhombus" id="activeStage"></div>
	            </div>
	            <ol id="missionStage">
	                <li id="prevStage">{{ prevStage }}</li>
	                <li id="curStage">{{ currentStage }}</li>
	                <li id="nextStage">{{ nextStage }}</li>
	            </ol>
	        </div>
	        <!-- 
	        <div id="camTriangle"></div>
	        <div id="camFrame">
	            <img src="/static/cam-placeholder.png"/>
	        </div>
	      	-->
	      </div>
    </div>
  {% endraw %}
{% endblock %}